@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Luxurious+Roman&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
  }
  #navbar{
      width:100%;
      min-height:5vh;
      background-color: indigo;
      display:flex;
      justify-content: space-between;
      align-items: center;
      position: fixed;
      top:0;
      z-index:10;
      padding:5px 15px;
  }
  .fa-laptop-code{
      color:#fff;
      border:5px solid #fff;
      font-size:40px;
      padding:15px;
      border-radius:50%;
  }
  #navbar ul li{
      list-style-type: none;
      float:left;
  }
  #navbar ul li a{
      margin:0 5px;
      padding:5px;
      font-size:18px;
      text-transform: uppercase;
      color:#fff;
      text-decoration:none;
      transition:1s;
  }
  #navbar ul li a:hover{
      color:lightslategray;
      transition:1s;
  }
  #profile{
      min-height:95vh;
      display:flex;
      justify-content: space-between;
      align-items: center;
      background-color: purple;
      padding:2% 7%;
  }
  #profile-text h1{
    color:#fff;
    font-size:3rem;
    font-family: 'Luxurious Roman', cursive;
    margin-bottom:15px;
  }
  #profile-text p{
      width:90%;
      color:#fff;
      font-size: 1.2rem;
      margin-bottom: 15px;
  }
  #links{
      margin-top:20px;
  }
  #links a{
      margin:0 5px;
      background:rgb(89, 6, 131);
      color:#fff;
      font-size:18px;
      padding:10px;
      text-decoration: none;
      border-radius: 50px;
  }
  #profile #profile-img{
      width:400px;
      height:auto;
  }
  #profile-img img{
      width:100%;
      height:100%;
      border-radius:50%;
  }
  #projects{
      background-color: rgb(44, 4, 59);
  }
  #projects h2{
      color:#fff;
      padding:15px 0px;
      text-align: center;
      margin-bottom:20px;
  }
  #all-projects{
    display: flex;
      flex-wrap: wrap;
      width:90%;
      margin:0 auto;
      justify-content: space-evenly;
  }
.project-tile{
     width:33%;
     margin-bottom:30px;
 }
 .project-tile h3{
     background-color:darkslategray;
     color:#fff;
     text-align:center;
     width:370px;
     padding:10px 0;
     margin-top:-5px;
 }
 #projects .project-tile img{
     width:370px;
     height:220px;
 }